<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

	<!-- <nav class="navbar navbar-default" role="navigation"  th:fragment="adsbarFragment">	 -->		
    			<div class="col-md-2 adsbar" th:fragment="adsbarFragment">
      				<div class="well" th:text="#{ad.name}"></div>
        				
      				
      				<div class="well" th:text="#{ad.name}"></div>
        				
      				
      				<div class="well" th:text="#{ad.name}"></div>
      				<div class="well" th:text="#{ad.name}"></div>
        				
      				
   		 		</div>
	
</body>
</html>