<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="css">

<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

<!-- bootstrap DatePicker -->
<link th:href="@{/thirdParty/bootstrapDatePicker/bootstrap-datepicker3.min.css}" rel="stylesheet" />

<!-- Custom CSS -->
<link th:href="@{/thirdParty/sb-admin/sb-admin-2.css}" rel="stylesheet" />

<!-- Common CSS -->
<link th:href="@{/css/common.css}" rel="stylesheet" media="all" />

</head>
<body>
</body>
</html>