<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{common.title}">New generation dating</title>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<!-- <link th:include="layout/head :: css" th:remove="tag" /> -->
<script th:inline="javascript"> 
	var contextRoot = [[@{/}]]; 

</script>

</head>
<body>
	<div id='ajax_loader' style="z-index: 9999999999; position: fixed; left: 50%; top: 50%; display: none;">
		<img th:src="@{/images/loading.gif}" />
	</div>

	<div  id="wrapper">
		<!-- header / navigation -->
		<div th:replace="layout/header :: headerFragment"></div>
		
			<div   id="page-wrapper">
			
			<!-- add custom content here -->
				<div layout:fragment="content" ></div>

				<div class="message">
					<div class="inner-message"></div>
				</div>
		</div>

	<div layout:fragment="modals" th:remove="tag"></div> 

	<div th:include="layout/scripts :: commonScripts" th:remove="tag"></div>
	<script th:inline="javascript">
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

	</script>

	<!-- Dodaj scripts ovdje 
	<div layout:fragment="scripts"></div>

	<div layout:fragment="ostalo"></div>-->
	<!-- footer -->	
			<div class="row filler" ></div>
			<div th:replace="layout/footer :: footerFragment"></div>
	</div>
	
</body>
</html>