<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  >
<head>


</head>
<body>				
    			<div  th:fragment="contentFragment">    			
    			
    			<div id="flaggedMsgContainer" >
    			<h4 th:text="#{msg.flagged}">Flagged messages</h4><hr class="thick">
    			<th:block th:each="msg : ${flaggedMessages}">
    			<br><div  class="row">
    			
    				<div class="col-md-4">
    					<label th:text="#{login.username}">Username</label>
    					<span>&nbsp;</span><span class="userProfileSel" th:text="${msg.senderUsername}">  </span>
    				</div>
    	
    				<div class="col-md-4">
    					<label  th:text="#{msg.sent.on}">Sent on</label>
    					<span>&nbsp;</span><span class="userProfileSel" th:text="${msg.msgDate}"></span>
    				</div>
    			</div>
    			<br>
    			<div class="row">
    			
    				<div class="col-md-4"><label th:text="#{msg.content}">From</label></div>
    			</div>
    			<div class="row">
    			
    				<div class="col-md-1">
    		
    					<span>&nbsp;</span>
    				</div>    		
    			
    				<div class="col-md-10">
    					
    					<span>&nbsp;</span><span class="userProfileSel" th:text="${msg.msg}"></span>
    				</div>
    				<div class="col-md-1">
    					
    					<span>&nbsp;</span>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-11"></div>
    				<div class="col-md-1"><input type="checkbox" th:value="${msg.senderId}" class="chBx" ></div>
    			</div>
    			<input type="hidden" th:value="${msg.msgId}" >
    			<hr>
    			</th:block>		
    			</div>
    		
    			<div th:if="${#lists.size(flaggedMessages) > 0}" class="row">
    						
    				<div class="col-md-3">
    				 <input type="button" id="btnBlockUsers" class="btn-flag" value="Block selected users" style="float:right">
    				 </div>
    				 <div class="col-md-7"></div>
    				 <div class="col-md-2">
    				 <input type="button" id="btnSelectAll" value="Select all" class="btn-sel">
    				</div>
    				
    			</div>
    				<div class="row"> <div class="col-md-12"><hr class="thick"></div></div>
    				<div class="row">
    				<div class="col-md-6">
    				</div>
    				<div class="col-md-6">
    					
    					<button class="btn-nav" id="prevMemberBtn" type="button"  th:text="#{paging.prev.btn}">Previous</button>
    					<button class="btn-nav-sm" id="firstMemberBtn" type="button"  >1</button>
    					<span id="pageSpacer">.....</span>
    					<button class="btn-nav-sm" id="lastMemberBtn" type="button"  th:text="#{paging.last.btn}">Last</button>
    					<button class="btn-nav" id="nextMemberBtn" type="button"  th:text="#{paging.next.btn}">Next</button>
    				</div> 
    			</div>   
    		
    			
				<script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script> 
				<script type="text/javascript" src="/js/userContent.js"></script>		
				<!--<script type="text/javascript" src="/js/photoUpload.js"></script>-->
				  <script th:inline="javascript">
				$(document).ready(function(){
					adminModule.init();
					userContent.init();
					
				
				})
				</script>
    			</div>
   		 		
	
</body>
</html>