<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  
</head>
<body>

	<!-- Modal -->
	<div class="modal fade"  th:id="${id}" tabindex="-1" role="dialog" th:fragment="retrieveCredentials(id)">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header modalText">
					<h4 class="modal-title" th:text="#{register.lostpsw}">Retrieve credentials</h4>
				</div>
				<div class="modal-body" id="retrieveCredentialsModalId">
														
					<form method="post" id="retrieveCredentialsForm"  th:action="@{/register/retrieveCredentials}">
					
					<br><label for="emailId" th:text="#{register.email}"></label>
					<br><input id="emailId" class="form-control" th:placeholder="#{register.email}" name="userEmail" type="text" autofocus="autofocus" />
									
					<br>					
					
        			<b><span th:text="#{lostpsw.info.options}">Choose the information that you want to retrieve:</span></b><br>
        			<br>
					<input type="radio" id="ret_password" name="credentials" value="0" >
					<label for="ret_password" th:text=#{login.password}>Password</label><br>
					<input type="radio" id="ret_username" name="credentials" value="1">
					<label for="ret_username" th:text=#{login.username}>Username</label><br>
					<input type="radio" id="ret_both" name="credentials" value="2">
					<label for="ret_both" th:text=#{login.both}>Both</label><br>
					
					
					<br><span id="retrieveCredentialsResponseTarget"></span>
						
				<div class="modal-footer modal-inline">
				
				<button type="button" class="btn btn-primary" id="retrieveCredentialsBtn" th:text="#{register.lostpsw}">Retrieve credentials</button>
				<button type="button" class="btn btn-default"  data-dismiss="modal" th:text="#{common.button.close}">Cancel</button>	
				</div>
				</form>
				
			</div>
		</div>
	</div>
	</div>
</body>
</html>