<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
</head>
<body>

	<!-- Modal -->
	<div class="modal fade" id="userProfile" th:id="${id}" tabindex="-1" role="dialog" th:fragment="userProfile(id)">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header modalText">
					<h4 class="modal-title" th:text="#{userProfile}">User profile</h4>
				</div>
				<div class="modal-body" id="userProfileModal">
					
					<div class="row form-group">	
					<div class="col-md-6">								
					<label for="memberUsername" th:text="#{login.username}">Username</label>
					<span id="memberUsername" class="userProfileSel" ></span>
					</div>					
					<div class="col-md-6">	
					
					</div>	
					</div>
					
					<div class="row form-group">	
					<div class="col-md-6">	
					<label for="relStatus" th:text="#{userProfile.relStatus}">Rel status</label>
					<span id="relStatus" class="userProfileSel"></span>
					</div>
					
					<div class="col-md-6">	
					<label for="children" th:text="#{userProfile.children}">Children</label>
					<span id="children" class="userProfileSel" ></span>
					</div>
					</div>
					
					<div class="row form-group">	
					<div class="col-md-6">	
					<label for="from" th:text="#{member.from}">From</label>
					<span id="from" class="userProfileSel" ></span>
					</div>
					
					<div class="col-md-6">	
					<label for="age" th:text="#{member.age}">Age</label>
					<span id="age" class="userProfileSel" ></span>
					</div>
					</div>
					
					<div class="row form-group">	
					<div class="col-md-6">	
					<label for="education" th:text="#{userProfile.eduLevel}">Education</label>
					<span id="education" class="userProfileSel" ></span>
					</div>
					
					<div class="col-md-6">	
					<label for="profession" th:text="#{userProfile.profession}">Current job</label>
					<span id="profession" class="userProfileSel" ></span>
					</div>
					</div><!-- end row -->
					
					<div class="row form-group">	
					<div class="col-md-6">	
					<label for="bodyType" th:text="#{userProfile.bodytype}">Body type</label>
					<span id="bodyType" class="userProfileSel" ></span>
					</div>
					
					<div class="col-md-6">	
					<label for="personality" th:text="#{userProfile.personality}">Personality</label>
					<span id="personality" class="userProfileSel" ></span>
					</div>
					</div><!-- end row -->
					
					<div class="row form-group">	
					<div class="col-md-12">	
					<label for="hobbies" th:text="#{userProfile.hobbies}">Hobbies</label>
					<br><span id="hobbies" class="userProfileSel" ></span>
					</div>
					</div><!-- end row -->
					
					<div class="row form-group">	
					<div class="col-md-12">	
					<label for="message" th:text="#{userProfile.message}">message</label>
					<br><span id="message" class="userProfileSel" ></span>
					</div>
					</div><!-- end row -->
					<label for="userImages" th:text="#{userProfile.images}">Images:</label><br>
					<div class="row">
					
					
					<div class="col-md-3"></div>
						
					<th:block id="imgSliderCtrl" th:replace="controls/imgSlider :: imgSliderFragment"></th:block>	 
					
					
					<div class="col-md-3"></div>
					
					</div>	
			</div>
		</div>
	</div>
		
			
		
				
	</div>
</body>
</html>