<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  >
<head>


</head>
<body>				
    			<div  th:fragment="contentFragment">    			<!-- th:if="${member.profileCompleted == true}" th:text="${userProfile.relStatus}" th:text="${userProfile.country}" th:text="${userProfile.residence}"-->
    			<h4 th:if="${src != 'search'}" th:text="#{member.recommendations}">Latest member recommendations</h4>
    			<h4 th:unless="${src != 'search'}" th:text="#{member.search.results}">Search results</h4><hr class="thick">
    			
    			<div id="members_wrapper" >
    			
    			<th:block th:each="member, stats : ${members}">
    			<br><div  class="row">
    			
    				<div class="col-md-4">
    					<label for="memberUsername" th:text="#{login.username}">Username</label>
    					<span>&nbsp;</span><a class="usernameLink" th:href="@{'/'+${member.username}}"> <span title="Open user profile" th:text="${member.username}"></span></a>
    				    <span class="gCol" th:if="${member.online == true}" >Online!</span>
    				</div>
    				<div class="col-md-4">
    					<label for="profileCompletion" th:text="#{member.profileCompleted}">Profile completed</label>
    					
    					<span>&nbsp;</span><span class="userProfileSel" th:text="${member.profileCompletion}"></span>
    				
    					<!--<progress id="profileCompletion" th:value="${member.profileCompletion}"  max="1"></progress>-->
    				</div>
    				<div class="col-md-4">
    					<label for="memberJoined" th:text="#{member.since}">Member since</label>
    					<span>&nbsp;</span><span class="userProfileSel" th:text="${member.since}"></span>
    				</div>
    			</div>
    			<br><div class="row">
    			
    				<div class="col-md-4">
    					<label for="memberAge" th:text="#{member.age}">Age</label>
    					<span>&nbsp;</span><span class="userProfileSel" th:text="${member.age}"></span>
    				</div>    		
    			
    				<div class="col-md-4">
    					<label for="memberFrom" th:text="#{member.from}">From</label>
    					<span>&nbsp;</span><span class="userProfileSel" th:text="${member.from}"></span>
    				</div>
    				<div class="col-md-4">
    					<label for="memberLastSeen" th:text="#{member.lastActivity}">Last activity</label>
    					<span>&nbsp;</span><span class="userProfileSel" th:text="${member.lastActivity}"></span>
    				</div>
    			</div>
    			<br><div class="row">
    				<div class="col-md-8">
    					
    				</div>
    				<div class="col-md-4">
    		
    					<button id="sendMsgModalBtn" type="button" class="btn-msg" th:value="${member.username}" th:text="#{member.sendmsg.btn}">Message</button>
    				</div>
    			</div>
    			<hr th:if="${#lists.size(members) > stats.index+1}" >
    			<hr th:unless="${#lists.size(members) > stats.index+1}" class="thick">
    			</th:block>		
    			</div>
    			<input type="hidden" id="numMatchingUsers" th:value="${numMatchingUsers}">
    			<input type="hidden" id="contentSrc" th:value="${src}">
    			<div th:if="${session.numMatchingUsers > 0}" class="row">
    			
    				<div class="col-md-1"></div>
    				<div class="col-md-3">
    				<label th:text="#{search.numPerPage}">Views per page</label>
    				<select  id="selNumSearch">
    					<option value=3 th:selected="${numUserSearchPage == 3}">3</option>
    					<option value=4 th:selected="${numUserSearchPage == 4}">4</option>
    					<option value=5 th:selected="${numUserSearchPage == 5}">5</option>
    					<option value=6 th:selected="${numUserSearchPage == 6}">6</option>
    					<option value=7 th:selected="${numUserSearchPage == 7}">7</option>
    				</select>
    				
    				</div>
    				<div class="col-md-2"></div>
    				<div class="col-md-6">
    					
    					<button class="btn-nav" id="prevMemberBtn" type="button"  th:text="#{paging.prev.btn}">Previous</button>
    					<button class="btn-nav-sm" id="firstMemberBtn" type="button"  >1</button>
    					<span id="pageSpacer">.....</span>
    					<button class="btn-nav-sm" id="lastMemberBtn" type="button"  th:text="#{paging.next.btn}">Last</button>
    					<button class="btn-nav" id="nextMemberBtn" type="button"  th:text="#{paging.next.btn}">Next</button>
    				</div> 
    			</div>   
    			<div th:unless="${session.numMatchingUsers > 0}"><span th:text="#{member.search.noresults}">No results match the search parameters!</span></div>			
    			<div layout:fragment="modals">
				<div th:replace="pages/userProfileModal :: userProfile(id='userProfileModal')"></div>	
				<div th:replace="pages/sendMsgModal :: sendMsg(id='sendMsgModal')"></div>		
				</div>
				<script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script> 
				<script type="text/javascript" src="/js/userContent.js"></script>	
				<!--<script type="text/javascript" src="/js/photoUpload.js"></script>-->
				  <script th:inline="javascript">
				$(document).ready(function(){
					//ctxPage = [[${page}]];
					//commonModule.initSse();
					//commonModule.init();
					userContent.init();
					//adminModule.init();
					
				//	document.write("user main " + userSignedIn);
				
				})
				</script>
    			</div>
   		 		
	
</body>
</html>