<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Error</title>
<link th:href="@{/css/error.css}" rel="stylesheet" media="all" />
</head>
<body>
	<div class="container" th:if="${excHandler != true}">
		<h1>
			<span th:text="#{common.title}"></span>
			<span> :(</span>
		</h1>
		<p th:if="${status != null && error != null}" class="errorStatus" th:text="${status +' '+ error}">Error</p>
		<p th:unless="${status != null && error != null}" class="errorStatus" th:text="#{exception.default}">There's been an unknown error!</p>
		<p th:text="${#calendars.format(timestamp,'dd.MM.yyyy HH:mm:ss')}">timestamp</p>
		
	</div>
	<div class="container" th:if="${excHandler == true}">
		<h1>
			<span th:text="#{common.title}"></span>
			<span> :(</span>
		</h1>
		<p th:text="${msg}">There's been an unexpected error!</p>
		<p th:text="${#calendars.format(#calendars.createNow(),'dd.MM.yyyy. HH:mm:ss')}">timestamp</p>

	</div>
</body>
</html>
